In [94]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [95]:
data = pd.read_csv('covid_class.csv')
data

   A01 A02 A03 A04 A05 A06 A07 Categories
0    +   +   +   +   +   -   -        PUS
1    +   +   -   +   +   -   -        PUS
2    +   +   +   +   -   +   -        PUS
3    +   +   -   +   -   +   -        PUS
4    +   -   -   -   -   -   +        PUS
5    +   +   +   -   -   -   +        PUS
6    +   +   -   -   -   -   +        PUS
7    +   +   +   +   -   -   -        PUS
8    +   -   -   +   +   -   -        PIM
9    -   +   -   +   +   -   -        PIM
10   +   -   -   +   -   +   -        PIM
11   -   +   -   +   -   +   -        PIM
12   -   +   -   -   -   -   +        PIM
13   -   -   -   -   -   -   +        PWS

In [96]:
data = data.replace({'+': 1, '-': 0})

In [97]:
data["Categories"] = data["Categories"].replace({'PUS' : 0, 'PIM': 1, 'PWS': 2})

In [98]:
data = data.drop([13], axis = 0)

In [99]:
data

    A01  A02  A03  A04  A05  A06  A07  Categories
0     1    1    1    1    1    0    0           0
1     1    1    0    1    1    0    0           0
2     1    1    1    1    0    1    0           0
3     1    1    0    1    0    1    0           0
4     1    0    0    0    0    0    1           0
5     1    1    1    0    0    0    1           0
6     1    1    0    0    0    0    1           0
7     1    1    1    1    0    0    0           0
8     1    0    0    1    1    0    0           1
9     0    1    0    1    1    0    0           1
10    1    0    0    1    0    1    0           1
11    0    1    0    1    0    1    0           1
12    0    1    0    0    0    0    1           1

In [100]:
target = data["Categories"]
target

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     1
10    1
11    1
12    1
Name: Categories, dtype: int64

In [101]:
data = data.drop(["Categories"], axis = 1)

In [102]:
values = {}
values

{}

In [103]:
log_clf = LogisticRegression()
svc_clf = SVC()
knn_clf = KNeighborsClassifier()
dt_clf = DecisionTreeClassifier()
rf_clf = RandomForestClassifier()
nbc_clf = GaussianNB()

In [104]:
for i in range(1,1000):
    X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.15)
    X_train.loc[13] = [0, 0, 0, 0, 0, 0, 1]
    y_train.loc[13] = 2
    if i == 1:
        for clf in [log_clf, svc_clf, knn_clf, dt_clf, rf_clf, nbc_clf]:
            clf.fit(X_train, y_train)

            pred = clf.predict(X_test)

            values[clf] = accuracy_score(y_test,pred)
    else:
        for clf in [log_clf, svc_clf, knn_clf, dt_clf, rf_clf, nbc_clf]:
            clf.fit(X_train, y_train)

            pred = clf.predict(X_test)

            values[clf] += accuracy_score(y_test,pred)

In [105]:
values

{LogisticRegression(): 654.0,
 SVC(): 508.0,
 KNeighborsClassifier(): 628.0,
 DecisionTreeClassifier(): 784.5,
 RandomForestClassifier(): 643.0,
 GaussianNB(): 621.0}

In [106]:
for i in values:
    values[i] = values[i] / 1000

In [107]:
values

{LogisticRegression(): 0.654,
 SVC(): 0.508,
 KNeighborsClassifier(): 0.628,
 DecisionTreeClassifier(): 0.7845,
 RandomForestClassifier(): 0.643,
 GaussianNB(): 0.621}

In [500]:
dt_clf.fit(data,target)

DecisionTreeClassifier()

In [511]:
test1 = np.array([1, 1, 1, 1, 0, 0, 0]) # test for 0 class
test2 = np.array([0, 1, 0, 1, 0, 1, 0]) # test for 1 class
test3 = np.array([0, 0, 0, 0, 0, 0, 1]) # test for 2 class

In [512]:
y1 = dt_clf.predict(test1.reshape(1, -1))[0]
y2 = dt_clf.predict(test2.reshape(1, -1))[0]
y3 = dt_clf.predict(test3.reshape(1, -1))[0]

In [526]:
print('Предсказанные классы \n',y1,'для точки нулевого класса\n', 
      y2, 'для точки первого класса \n',y3,'для точки второго класса')

Предсказанные классы
 0 для точки нулевого класса
 1 для точки первого класса
 2 для точки второго класса

In [282]:
data

    A01  A02  A03  A04  A05  A06  A07
0     1    1    1    1    1    0    0
1     1    1    0    1    1    0    0
2     1    1    1    1    0    1    0
3     0    0    0    0    0    0    1
4     1    0    0    0    0    0    1
5     1    1    1    0    0    0    1
6     0    1    0    0    0    0    1
7     1    1    1    1    0    0    0
8     1    0    0    1    1    0    0
9     0    1    0    1    1    0    0
10    1    0    0    1    0    1    0
11    0    1    0    1    0    1    0
12    1    1    0    0    0    0    1
13    1    1    0    1    0    1    0

In [283]:
target

0     0
1     0
2     0
3     2
4     0
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    0
13    0
Name: Categories, dtype: int64